[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "==1.11.12"
pillow = "*"
markdown = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.6"
