[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==1.11.12"
Pillow = "*"
Pygments = "*"
itsdangerous = "*"
"markdown2" = "*"
dj-pagination = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.6"
