.clear-float {clear: both}

.detail { width: 100%; background: #ffffff; border-radius: 10px; overflow: hidden }

.detail .article-body { padding: 20px }

.detail .page-path { line-height: 25px; height: 25px; font-size: 18px; ; border-bottom: #000 2px solid; }
.detail .page-path a { font-weight: normal; }

.detail .article-title { font-size: 28px; font-weight: normal; padding: 20px 0; color: #333; }

.detail .article-author { width: 100%; color: #999; line-height: 18px; }
.detail .article-author span { margin-right: 15px;}

.detail .tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; }
.detail .tags { margin: 10px 0; }

.detail .abstract { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }

.detail .article-cover {text-align: center; border-bottom: 1px solid black; padding-bottom: 10px}
.detail .article-cover img {max-width: 95%; border-radius: 10px}
.detail .abstract strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }

.detail .article_content { line-height: 24px }
.detail .article_content p { margin-bottom: 10px }
/*设置markdown中的图片居中显示，其中margin: 0 auto只对块级元素起作用，所以要设置display:block*/
.detail .article_content img { max-width: 95%; display:block; margin: 0 auto; border-radius: 5px}

.detail .favourite-like {padding: 20px 0; text-align: center}

/*文章评论*/
.comments { width: 100%; background: #ffffff; border-radius: 10px; overflow: hidden; margin: 20px 0; padding: 15px}
.comments .part-title {  font-size:24px;}

.comments .comment-input button {float:right}

.comments .comments-list li {list-style: none}
.comments .comments-list { padding: 10px; overflow: hidden; margin-top: 25px; border-top: solid 2px black }
.comments .comment-detail { border-bottom: #ccc 1px solid; margin-bottom: 10px; overflow: hidden; padding: 10px}
.comments .comment-detail .profile-picture {overflow: hidden; width: 80%; height: auto; display: block; background: #333333;  border-radius: 50%; border:solid 1px #2b2b2b;}
.comments .comment-detail .profile-picture img { width: 100%; height: auto;}
.comments .comment-detail .info .username {float: left}
.comments .comment-detail .info .time {float: right}
.comments .comment-detail .info .content {clear: both; margin-top: 30px;}

.comments .comment-detail .comment-like  {  clear: both}
.comments .comment-detail .comment-like .like {  float: right; }

.comments .comment-detail .comment-reply li {border-top: solid 1px gray}
.comments .comment-detail .comment-reply li:nth-child(1) {border-top: solid 2px black; margin-top: 25px}

.comments .comment-detail .comment-reply li .username{float: left}
.comments .comment-detail .comment-reply li .time{float: right}
.comments .comment-detail .comment-reply li p{margin-left: 5px; clear: both; padding: 5px}



/*右侧边栏*/
.main-right .advertisement {  margin:0;}
