body { background: #f1f1f1}

a { color: black}
a:hover { text-decoration: none }
/*li {list-style: none}*/


/*资源下载展示区域*/
.source { background: #ffffff; overflow: hidden; width: 100%; clear: both; border-radius: 10px; margin-bottom: 20px }
.source .source-list {overflow: hidden; padding: 0 10px}
.source .source-detail {border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; overflow: hidden; padding:10px 20px 20px}
.source .source-detail:nth-child(1) { border-left: 0 }
.source .source-detail img { margin: auto; width: 100%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.source .source-detail b { display: block; width: 100%; overflow: hidden; height: 30px; line-height: 30px; margin: 10px 0; text-overflow: ellipsis; white-space: nowrap;}
.source .source-detail span { color: #999; height: 76px; display: block; overflow: hidden; }
.source .source-detail .read-more { padding: 10px 0; display: block; color: #096; }
.source .part-title { padding: 0 10px; line-height: 40px; height: 40px; font-size: 18px; ; border-bottom: #000 2px solid; position: relative; }
.source .source-list .source-detail:hover img { transform: scale(1.1) }
.source .source-detail:hover { background: #fff; box-shadow: #000 1px 1px 10px; }
.source .top-pic { width: 100%; height: 100px; overflow: hidden; border-radius: 5px; background: #CCC }


/*博客文章列表*/
.blog-list { background: #ffffff; overflow: hidden; width: 100%; clear: both; border-radius: 10px; }
.blog-list .part-title { padding: 0 10px; line-height: 40px; height: 40px; font-size: 18px; ; border-bottom: #000 2px solid; position: relative; }
.blog-list h3.blog-title { line-height: 30px; height: 30px; margin: 10px 0; }
.blog-list .blog-info .blog-pic { overflow: hidden; width: 30%; height: 125px; display: block; float: left; margin-right: 20px; border-radius: 5px; background: #333333; }
.blog-list .blog-info .blog-pic img { width: 100% }
.blog-list .blog-info p { color: #888; line-height: 25px; max-height: 100px; overflow: hidden }
.blog-list li:hover p {color: black} /*鼠标悬浮，改变文字颜色*/
.blog-list ul { padding: 10px; overflow: hidden }
.blog-list li { border-bottom: #ccc 1px solid; margin-bottom: 10px; overflow: hidden; list-style: none }
.blog-list .author { width: 100%; overflow: hidden; clear: both; margin: 20px 0 0 0; display: inline-block; color: #838383; font-size: 12px }
.blog-list .author span { margin: 0 15px 0 0;}
.blog-list .author span a { color: #096; }
.blog-list.author span a:hover { text-decoration: underline }
.blog-list .author .read-more {float: right}

.blog-list .more { font-size: 14px; }


/*个人相关*/
.about-me { background: #ffffff; border-radius: 10px; overflow: hidden; margin-bottom: 20px }
.about-me .part-title { text-align: center; position: relative; margin: 20px; }
.about-me .ab_con { line-height: 30px; padding: 10px; }
.about-me .ab_con p { background: #f6f6f6; margin: 5px 0; padding-left: 10px; border-radius: 5px; text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; }
.about-me .avatar { width: 100px; height: 100px; overflow: hidden; border-radius: 50px; margin: auto; }
.about-me .avatar img { width: 100px; height: 100px }


/*排行相关*/
.hot-articles { background: #ffffff; border-radius: 10px; overflow: hidden; margin-bottom: 20px }
.hot-articles .part-title { text-align: center; position: relative; margin: 20px; }
.hot-articles ul { padding: 10px; }
.hot-articles ul li { max-height:125px; list-style:none; border-bottom: solid 1px #EAEAEA; font-size: 14px; margin: 0 0 10px 0; padding: 0 0 10px 0; overflow: hidden;}
.hot-articles ul li b { height: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.hot-articles ul li p { line-height: 24px; color: #888 }
.hot-articles ul li a:hover { color: #000; }
.hot-articles ul li:hover { border-bottom: #000 1px solid; }/* 鼠标放上去的效果 */
.hot-articles ul li:hover p { color: #000; }
.hot-articles ul li:hover b a { color: #000; }

/*传说中的广告位*/
.advertisement .part-title { text-align: center; position: relative; margin: 20px; }
.advertisement { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin-bottom: 20px}
.advertisement .pics {padding:5px;}
.advertisement img { width: 100%; height: auto; border-radius: 5px}
.advertisement img:hover { transform: scale(1.1) }