body {background-color: #eee}

.login {margin-top: 25%; background-color: white; padding: 30px; border-radius: 25px; box-shadow: 5px 5px 10px #888888;}

.login .part-title {font-size: 28px; text-align: center}

.login .login-button {text-align: center}

.login .forget-password {margin: 10px 10px 10px 0}

.login .error-message { background: orange;color: blue; text-align: center;}
.login .error-message h4 {margin: 10px 0}

.login .error-input {border-color: #f00; box-shadow: 0 0 5px #aa0b0b;}