
.blog-list { background: #ffffff; overflow: hidden; width: 100%; clear: both; border-radius: 10px; border: solid 1px gray}
.blog-list h3.blog-title { line-height: 30px; height: 30px; margin: 10px 0; }
.blog-list .blog-pic { overflow: hidden; width: 20%; height: 100px; display: block; float: left; margin-right: 20px; border-radius: 5px; background: #333333; }
.blog-list .blog-pic img { width: 100% }
.blog-list ul { padding: 10px; overflow: hidden }
.blog-list li { border-bottom: #ccc 1px solid; margin-bottom: 10px; overflow: hidden; }
.blog-list .author { width: 100%; overflow: hidden; clear: both; margin: 20px 0 0 0; display: inline-block; color: #838383; font-size: 12px }
.blog-list .author > span { margin: 0 15px 0 0;}
.blog-list .author span a { color: #096; }
.blog-list.author span a:hover { text-decoration: underline }
.blog-list .author .user-favourite {display:block; float: right;: right; padding: 2px; color: green; cursor: pointer}
.blog-list .blog-info p { color: #888; line-height: 24px }
.blog-list .more { font-size: 14px; }


.user-profile {background-color: #ffffff; border: solid 1px #878787; padding: 10px; border-radius: 10px}
.user-profile .left-part { margin: 0;}
.user-profile .left-part label input {display: none}
.user-profile .left-part label {display: block; padding: 0 10px;}
.user-profile .left-part label .upload {text-align: center; width: 50%; display: block; margin: 0 auto; padding: 5px; color: blue}
.user-profile .left-part #submit-form {text-align: center; margin-top: 20px}

.user-profile .right-part {padding: 2% 5% 10px 5%; font-size: 20px;}
.user-profile .right-part .user-info { margin-bottom: 5px}

.user-profile .left-part .pic-box {display: block; position:relative; width:100%; height:0; font-size:0;line-height:0; padding:0 0 100%;}
.user-profile .left-part .pic-box img {position:absolute; width:100%; height:100%;border-radius: 50%; border: solid 1px black}

.info-nav {background-color: #FFFFFF; border: solid 1px gray; border-radius: 10px}
.info-nav .nav-list {list-style: none; padding: 10px 0; text-align: center;}
.info-nav .nav-list li {margin-top: 2px; font-size: 20px; padding: 2px}
.info-nav .nav-list li:hover {background-color: skyblue}
.info-nav .nav-list li a:hover {text-decoration: none}