{% extends 'base.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% block custom_css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/article.css' %}" rel="stylesheet">
{% endblock %}


{% block main_left %}
    <div class="detail">
        <div class="article-body">
            <h5 class="page-path">您现在的位置是：<a href="{% url 'index' %}">首页</a>&nbsp;>&nbsp;<a href="">学无止境</a>&nbsp;>&nbsp;<a href="/jstt/web/">网站建设</a></h5>
            <h3 class="article-title"><b>{{ article.title }}</b></h3>
            <div class="article-author">
                <span class="author-name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ article.author.username }}</span>
                <span class="create-time"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ article.add_time }}</span>
                <span class="click-numbers"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>浏览（{{ article.click_number }}）</span>
            </div>
            <div class="tags">
                {% for tag in tags %}
                    <a href="" target="_blank">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div class="abstract"><strong>简介</strong>{{ article.abstract }}</div>
            <div class="article-cover">
                <img src="{{ MEDIA_URL }}{{ article.image }}" alt="">
            </div>
            <div class="article_content">
                {{ article.content_html | safe }}
            </div>
        </div>
        <div class="favourite-like">
            <button type="button" id="article_favourite" class="btn btn-success btn-lg favourite_and_like {% if has_favourite %}is_active{% endif %}">
                <b><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>收藏（{{ article.get_favourite_number }}）</b>
            </button>
            <button type="button" id="article_like" class="btn btn-primary btn-lg favourite_and_like {% if has_like %}is_active{% endif %}">
                <b><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>点赞（{{ article.get_like_number }}）</b>
            </button>
        </div>
    </div>
    <div class="comments">
        {% if article.can_comment %}
            <form class="comment-input" action="">
                <div class="form-group">
                    <label class="part-title" for="comment-input">评 论（{{ article.get_comment_number }}）</label>
                    <textarea class="form-control" id="comment-input" rows="5" placeholder="来说两句吧"></textarea>
                </div>
                <button type="button" id="comment-submit-button" class="btn btn-success btn-lg">评论</button>
                <div class="clear-float"></div>
            </form>
            <ul class="comments-list">
                {% include page_template %}
            </ul>
        {% else %}
            <div class="comments">
                <p class="text-center">当前文章暂未开放评论</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block main_right %}
    <div class="advertisement">
        <h2 class="part-title">广告位招租</h2>
        <div class="pics">
            <img src="picture/ad.jpg">
        </div>
    </div>
    <div class="hot-articles">
        <h2 class="part-title"><a href="/">热文推荐</a></h2>
        <ul>
            <li><b><a href="/download/div/2015-04-10/746.html" target="_blank">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
                <p>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标...</p>
            </li>
            <li><b><a href="/download/div/2014-02-19/649.html" target="_blank"> 个人博客模板（2014草根寻梦）30...</a></b>
                <p>2014第一版《草根寻梦》个人博客模板简单、优雅、稳重、大气、低调。专为年轻有志向却又低调的草根站长设...</p>
            </li>
            <li><b><a href="/download/div/2013-08-08/571.html" target="_blank">黑色质感时间轴html5个人博客模板30...</a></b>
                <p>黑色时间轴html5个人博客模板颜色以黑色为主色，添加了彩色作为网页的一个亮点，导航高亮显示、banner图片...</p>
            </li>
        </ul>
    </div>
    <div class="hot-articles">
        <h2 class="part-title"><a href="/">随便看看</a></h2>
        <ul>
						<li><b><a href="/jstt/css3/2018-03-20/808.html" target="_blank">十条设计原则教你学会如何设计网页布局!30...</a></b>
							<p>网页常见的布局有很多种,单列布局,多列布局.其中单列布局是国外很多网站比较常用的.咱们很多站长以及门户...</p>
						</li>
						<li><b><a href="/download/div/2018-03-18/807.html" target="_blank">html5个人博客模板主题《绅士》30...</a></b>
							<p>因其颜色主要是黑白搭配,重点突出的是文字内容,就像是一个颇有内涵的绅士.所以此模板主题为《绅士》,个人...</p>
						</li>
						<li><b><a href="/jstt/css3/2018-03-14/806.html" target="_blank">用js+css3来写一个手机栏目导航30...</a></b>
							<p>有些站长说想做一个手机适应的网站,但是导航太难了,如果要使用框架的话,代码非常多,冗余.再用dreamwear打...</p>
						</li>
						<li><b><a href="/jstt/css3/2018-03-14/805.html" target="_blank">6条网页设计配色原则,让你秒变配色高手30...</a></b>
							<p>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设...</p>
						</li>
						<li><b><a href="/news/life/2018-03-13/804.html" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?30...</a></b>
							<p>就拿我自己来说吧，有时候会很矛盾，设计好的作品，不把它分享出来，会觉得待在自己电脑里面实在是没有意...</p>
						</li>
						<li><b><a href="/news/life/2018-03-12/803.html" target="_blank">Come on,行动起来吧!我们和时间来一场赛跑!30...</a></b>
							<p>时间过得那么飞快,使我的小心眼儿里不只是着急,还有悲伤.有一天,我放学回家,看到太阳快落山了,就下决心说...</p>
						</li>
					</ul>
        <div class="ad"><img src="picture/ad01.jpg"></div>
    </div>
{% endblock %}

{% block custom_js %}
<script>
    //添加评论
    $(document).ready(function(){
        $("#comment-submit-button").on('click', function(){
        let content = $("#comment-input").val();
        if(content === ""){
            alert("评论不能为空");
            return
        }
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'operations:add_comment' %}",
            data:{'object_id':{{ article.id }}, "comment_type": 1 ,'content':content},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status === 'fail'){
                    if(data.message === '用户未登录'){
                        window.location.href="{% url 'account:login' %}";
                    }else{
                        alert(data.message);
                    }
                }else if(data.status === 'success'){
                    window.location.reload(); //刷新当前页面.
                }
            },
        });
    });
    });
</script>


    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>

    <script>
    $(document).ready(function () {
        $(".favourite_and_like").on("click", function(){
            let data = {};
            let this_element = $(this);
            let class_arr = this_element.attr("class").split(" ");
            if(this_element.attr("id") === "article_favourite"){
                data={"object_id":{{ article.id }}, "object_type": "article", "request_type": "favourite"};
            }else if(this_element.attr("id") === "article_like"){
                data={"object_id":{{ article.id }}, "object_type": "article", "request_type": "like"};
            }else if ($.inArray("comment-like-click", class_arr)){
                let comment_id = this_element.find(".comment-id").text();
                data={"object_id":comment_id, "object_type": "comment", "request_type": "like"};
            }
            if (data === {}){
                alert("错误提示2");
            }

            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'operations:favourite_like' %}",
                data:data,
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status === 'fail'){
                        if(data.message === '用户未登录'){
                            window.location.href="{% url 'account:login' %}";
                        }else{
                            alert(data.message);
                        }
                    }else if(data.status === 'success-on' || data.status === 'success-off'){
                        window.location.reload(); //刷新当前页面.
                    }
                },
            });

    });
    });
    </script>

{% endblock %}
