{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
首页 - Alpha
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main_left %}
    <div class="source">
        <h2 class="part-title">热门资源</h2>
        <ul class="source-list">
            {% for hot_source in hot_sources %}
                <li class="col-md-3 source-detail">
                    <a href="{% url 'sources:source_detail' hot_source.id %}" target="_blank"><div class="top-pic"><img src="{{ MEDIA_URL }}{{ hot_source.image }}"></div></a>
                    <a href="{% url 'sources:source_detail' hot_source.id %}" target="_blank"><b>{{ hot_source.name }}</b></a>
                    <span>{{ hot_source.abstract }}</span>
                    <a href="{{ hot_source.download_url }}" target="_blank"  class="read-more">下载地址</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="blog-list">
        <h2 class="part-title">最新文章</h2>
        <ul>
            {% for recent_article in recent_articles %}
                <li>
                    <a href="{% url 'articles:article_detail' recent_article.id %}">
                        <h3 class="blog-title"><a href="{% url 'articles:article_detail' recent_article.id %}" target="_blank" >{{ recent_article.title }}</a></h3>
                        <div class="blog-info">
                            <span class="blog-pic">
                                <a href="{% url 'articles:article_detail' recent_article.id %}" title="{{ recent_article.title }}" target="_blank" >
                                    <img src="{{ MEDIA_URL }}{{ recent_article.image }}" alt="{{ recent_article.title }}" />
                                </a>
                            </span>
                            <p>{{ recent_article.abstract }}</p>
                        </div>
                        <div class="author">
                            <span class="blog-tags "><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ recent_article.get_tags_string }}</span>
                            <span class="datetime"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ recent_article.add_time }}</span>
                            <span class="click-num"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>浏览（{{ recent_article.click_number }}）</span>
                            <span class="read-more"><a href="{% url 'articles:article_detail' recent_article.id %}" class="more">阅读原文>></a></span>
                        </div>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}

{% block main_right %}
    <div class="about-me">
        <h2 class="part-title">关于我</h2>
        <div class="avatar"><img src="{{ MEDIA_URL }}default/avatar/avatar_01.jpg" /></div>
        <div class="ab_con">
            <p>昵称：大表哥</p>
            <p>职业：野路子程序员 </p>
            <p>邮箱：wangyiyouxiang@qq.com</p>
        </div>
    </div>
    <div class="hot-articles">
        <h2 class="part-title"><a href="{% url 'articles:articles_list' %}">热文推荐</a></h2>
        <ul>
            {% for hot_article in hot_articles %}
                <li><b><a href="{% url 'articles:article_detail' hot_article.id %}" target="_blank">{{ hot_article.title }}</a></b>
                    <a href="{% url 'articles:article_detail' hot_article.id %}">
                        <p>{{ hot_article.abstract }}</p>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>
    <div class="hot-articles">
        <h2 class="part-title"><a href="{% url 'sources:sources_list' %}">最新资源</a></h2>
        <ul>
            {% for hot_source in recent_sources %}
                <li><b><a href="{% url 'sources:source_detail' hot_source.id %}" target="_blank">{{ hot_source.name }}</a></b>
                    <a href="{% url 'sources:source_detail' hot_source.id %}"><p>{{ hot_source.abstract }}</p></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="advertisement">
        <h2 class="part-title">广告位招租</h2>
        <div class="pics">
            <img src="{{ MEDIA_URL }}default/ad/ad_01.jpg">
        </div>
    </div>
{% endblock %}