<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>登录 - Alpha</title>
    <link rel="shortcut icon" href="{% static 'picture/favicon.ico' %}">
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="login" >
				<p class="part-title"><b>登录</b></p>
				<form action="{% url 'account:login' %}" method="POST" role="form">
					<div class="form-group">
						<label for="user_email">邮箱</label>
						<input type="email" name="user_email" class="form-control {% if login_form.errors.user_email %}error-input{% endif %}" id="user_email" placeholder="邮箱" required="required">
					</div>
                    {% if login_form.errors.user_email %}
                        <div class="error-message">
                            <h4><b>{{ login_form.errors.user_email.0 }}</b></h4>
                        </div>
                    {% endif %}
					<div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" name="password" class="form-control {% if login_form.errors.password %}error-input{% endif %}" id="password" placeholder="密码" required="required">
                    </div>
                    <!--记住重定向过来的url的地址-->
                    <div class="form-group" hidden="hidden">
                        <label for="next-url" hidden="hidden">重定向地址</label>
                        <input type="text" name="next" id="next-url" hidden="hidden" value="{{ request.GET.next }}">
                    </div>
                    {% if login_form.errors.password %}
                        <div class="error-message">
                            <h4><b>{{ login_form.errors.password.0 }}</b></h4>
                        </div>
                    {% endif %}
                    <div class="error-message">
                        <h4><b>{{ message }}</b></h4>
                    </div>
					<span class="forget-password"><a href="{% url 'account:register' %}">注册账户！</a></span>
					<span class="forget-password"><a href="{% url 'account:forget_pwd' %}">忘记密码？</a></span>
                    <span class="forget-password"><a href="{% url 'account:user_reconfirm' %}">重新获得激活邮件</a></span>
					<div class="login-button">
						<button type="submit" class="btn btn-success">登录</button>
					</div>
                    {% csrf_token %}
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
