{% extends "base.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% block custom_css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block main_left %}
    <div class="blog-list">
        <h2 class="part-title">特色专栏</h2>
        <ul>
            {% autopaginate special_list 10 %}
            {% for special_column in special_list %}
                <li>
                <h3 class="blog-title"><a href="{% url 'articles:special_detail' special_column.id %}" target="_blank" >{{ special_column.title }}</a></h3>
                <div class="blog-info">
                    <span class="blog-pic">
                        <a href="{% url 'articles:special_detail' special_column.id %}" title="{{ special_column.title }}">
                            <img src="{{ special_column.cover_url }}" alt="{{ special_column.title }}" />
                        </a>
                    </span>
                    <p>{{ special_column.description }}</p>
                </div>
                <div class="author">
                    <span class="datetime"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ special_column.update_time }}</span>
                    <span class="click-num"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>文章数（{{ special_column.get_articles.count }}）</span>
                    <span class="read-more"><a href="{% url 'articles:special_detail' special_column.id %}" class="more">查看详细>></a></span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <!--分页显示-->
        {% paginate using 'pagination/pagination.html' %}
    </div>
{% endblock %}
{% block main_right %}
    <div class="advertisement">
        <h2 class="part-title">广告位招租</h2>
        <div class="pics">
            <img src="{{ MEDIA_URL }}default/ad/ad_01.jpg">
        </div>
    </div>
    <div class="hot-articles">
        <h2 class="part-title"><a href="/">近期专栏</a></h2>
        <ul>
            {% for recent_special in recent_special_column %}
                <li><b><a href="{% url 'articles:special_detail' recent_special.id %}" target="_blank">{{ recent_special.title }}</a></b>
                <p>{{ recent_special.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-articles">
        <h2 class="part-title"><a href="/">热文推荐</a></h2>
        <ul>
            {% for hot_article in hot_articles %}
                <li><b><a href="{% url 'articles:article_detail' hot_article.id %}" target="_blank">{{ hot_article.title }}</a></b>
                    <p>{{ hot_article.abstract }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}