{% extends 'user-center-base.html' %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}
    收藏文章 - Alpha
{% endblock %}
{% block main_left %}
<div class="blog-list">

    <ul>
        {% autopaginate favourite_articles 10 %}
        {% for favourite_article in favourite_articles %}
            <li>
                <h3 class="blog-title"><a href="{% url 'articles:article_detail' favourite_article.id %}" target="_blank" >{{ favourite_article.title }}</a></h3>
                <div class="blog-info">
                        <span class="blog-pic">
                            <a href="{% url 'articles:article_detail' favourite_article.id %}" title="{{ favourite_article.title }}" target="_blank" >
                                <img src="{{ favourite_article.cover_url }}" alt="{{ favourite_article.title }}" />
                            </a>
                        </span>
                    <p>{{ favourite_article.abstract }}</p>
                </div>
                <div class="author">
                    <span class="blog-tags "><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ favourite_article.get_tags_string }}</span>
                    <span class="datetime"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ favourite_article.author }}</span>
                    <span class="datetime"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ favourite_article.add_time }}</span>
                    <span class="click-num"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>浏览（{{ favourite_article.click_number }}）</span>
                    <span class="user-favourite">
                        <b><span class="glyphicon glyphicon-star" aria-hidden="true"></span>取消收藏</b>
                        <span class="object-id" hidden="hidden">{{ favourite_article.id }}</span>
                        <span class="object-type" hidden="hidden">article</span>
                    </span>
                </div>
            </li>
        {% endfor %}

    </ul>
    {% paginate using 'pagination/pagination.html' %}
</div>
{% endblock %}