{% extends 'user-center-base.html' %}
{% load staticfiles %}
{% load gravatar %}
{% block title %}
用户信息 - Alpha
{% endblock %}

{% block main_left %}
<div class="user-profile">
    <div class="row">
        <div class="col-md-3 left-part">
            <div class="pic-box">
                <img id="user-avatar-show" src="{{ request.user|gravatar_url:200 }}" alt="">
            </div>
        </div>
        <div class="col-md-9 right-part">
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>用户名：</b></p>
                </div>
                <div class="col-md-9">
                    <p>{{ request.user.username }}</p>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>邮箱：</b></p>
                </div>
                <div class="col-md-9">
                    <p>{{ request.user.email }}</p>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>注册时间：</b></p>
                </div>
                <div class="col-md-9">
                    <p>{{ request.user.add_time }}</p>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>收藏数：</b></p>
                </div>
                <div class="col-md-9">
                    <p>{{ request.user.get_favourite_number }}个</p>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>点赞数：</b></p>
                </div>
                <div class="col-md-9">
                    <p>{{ request.user.get_like_number }}次</p>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>评论数：</b></p>
                </div>
                <div class="col-md-9">
                    <p>{{ request.user.get_comments_number }}条</p>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-md-3">
                    <p><b>修改密码：</b></p>
                </div>
                <div class="col-md-9">
                    <a href="{% url 'account:forget_pwd' %}"><button class="btn btn-info">修改密码</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}