<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<title>
        {% block title %}用户中心 - Alpha{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/user-center.css' %}">
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/markdown-css/fruity.css' %}" rel="stylesheet">
	{% block custom_css %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">Alpha</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="#"><a href="{% url 'index' %}">主页</a></li>
				<li class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        博客<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'articles:articles_list' %}">
                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> 所有文章
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'articles:special_list' %}">
                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> 专栏文章
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'articles:series_list' %}">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 系列文章
                            </a>
                        </li>
                    </ul>
                </li>
				<li><a href="{% url 'sources:sources_list' %}">资源</a></li>
				<li><a href="#">其他</a></li>

			</ul>
			<form action="#" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="请输入关键词" />
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					{% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                                {{ user.username }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account:user_information' %}">个人主页</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account:logout' %}">注销</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account:register' %}">注册</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account:login' %}">登录</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                                用户登录<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account:login' %}">登录</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account:register' %}">注册</a></li>
                            </ul>
                        </li>
                    {% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>

<mainpart>
	<div class="container">

		<div class="row">

			<div class="col-md-9 main-left">
                {% block main_left %}

                {% endblock %}
			</div>

			<div class="col-md-3 main-right">
				<div class="info-nav">
                    <ul class="nav-list">
                        <li><a href="{% url 'account:user_information' %}">个人信息</a></li>
                        <li><a href="{% url 'account:favourite_articles' %}">收藏文章</a></li>
                        <li><a href="{% url 'account:favourite_sources' %}">收藏资源</a></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</mainpart>


<script src="{% static 'js/bootstrap/jquery-3.31.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".user-favourite").on("click", function(){
            let this_element = $(this);

            let object_id = this_element.find(".object-id").text();
            let object_type = this_element.find(".object-type").text();

            let data = {"object_id": object_id, "object_type": object_type, "request_type": "favourite"};

            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'operations:favourite_like' %}",
                data:data,
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status === 'fail'){
                        if(data.message === '用户未登录'){
                            window.location.href="{% url 'account:login' %}";
                        }else{
                            alert(data.message);
                        }
                    }else if(data.status === 'success-on' || data.status === 'success-off'){
                        window.location.reload(); //刷新当前页面.
                    }
                },
            });

    });
    });
</script>
{% block custom_js %}{% endblock %}
</body>
</html>
